<div id="sidebar">
    <p class="description">{{ site.description }}</p>

    <div id="rss">
        <p>
            <a href="{{ site.rss }}">Subscribe via RSS</a>
            or
            <a href="https://follow.it/seanmonstar?leanpub">Email</a>
        </p>
    </div>
    <div id="spon">
        <a href="/sponsor" title="Sponsor">
            <img src="http://www.gravatar.com/avatar/dfb248d98bc7c238fccd5aad53624eab.png" alt="" />
            <span id="spon-desc">Sponsor</span>
        </a>
    </div>
    <script type="text/javascript">
        //serve random sponsor
        (function(){
            var sponsors = [
                /*
                {
                    'link': 'https://www.amazon.com/gp/product/0596517742?tag=seanmonstar-20',
                    'img': 'https://ecx.images-amazon.com/images/I/51lwS14VQTL._SL110_.jpg',
                    'text': 'JavaScript: The Good Parts'
                },
                */
                {
                    'link': 'https://www.amazon.com/gp/product/0735619670?tag=seanmonstar-20',
                    'img': 'https://images-na.ssl-images-amazon.com/images/I/51FUYfErOXL._SL110_.jpg',
                    'text': 'Code Complete: A Practical Handbook of Software Construction'
                },
                {
                    'link': 'https://www.amazon.com/Rust-Rustaceans-Programming-Experienced-Developers-ebook/dp/B0957SWKBS?tag=seanmonstar-20',
                    'img': 'https://images-na.ssl-images-amazon.com/images/I/51s3gbiU20S._SX376_BO1,204,203,200_.jpg',
                    'text': 'Rust for Rustaceans: Idiomatic Programming for Experienced Developers'
                },
                {
                    'link': '/sponsor',
                    'img': 'https://www.gravatar.com/avatar/dfb248d98bc7c238fccd5aad53624eab.png',
                    'text': 'Sponsor my OSS work'
                }
            ];
            var randIndex = Math.floor(Math.random() * sponsors.length);
            var sponsorDiv = document.getElementById('spon'),
                sponLink = sponsorDiv.getElementsByTagName('a')[0],
                sponImg = sponsorDiv.getElementsByTagName('img')[0],
                sponSpan = sponsorDiv.getElementsByTagName('span')[0];
            sponLink.href = sponsors[randIndex].link;
            sponSpan.innerHTML = sponImg.alt = sponLink.title = sponsors[randIndex].text;
            sponImg.src = sponsors[randIndex].img;
        })();
    </script>
</div>
