<div id="sidebar">
    <p class="description">{{ site.description }}</p>

    <div id="rss">
        <p>
            <a href="{{ site.rss }}">Subscribe via RSS</a>
            or
            <a href="https://follow.it/seanmonstar?leanpub">Email</a>
        </p>
    </div>
    <div id="spon">
        <a href="/sponsor" title="Sponsor">
            <img src="https://www.gravatar.com/avatar/dfb248d98bc7c238fccd5aad53624eab.png" alt="" />
            <span id="spon-desc">Sponsor</span>
        </a>
    </div>
    <script type="text/javascript">
        //serve random sponsor
        (function(){
            var sponsors = [
                {
                    'link': '/sponsor?ref=sidebar',
                    'img': 'https://www.gravatar.com/avatar/dfb248d98bc7c238fccd5aad53624eab.png',
                    'text': 'Sponsor my OSS work'
                },
                {
                    'link': 'https://masto.ai/@seanmonstar',
                    'img': 'https://www.gravatar.com/avatar/dfb248d98bc7c238fccd5aad53624eab.png',
                    'text': 'Follow @seanmonstar@masto.ai'
                },
                {
                    'link': 'https://bsky.app/profile/seanmonstar.com',
                    'img': 'https://www.gravatar.com/avatar/dfb248d98bc7c238fccd5aad53624eab.png',
                    'text': '@seanmonstar.com on Bluesky'
                }
            ];
            var randIndex = Math.floor(Math.random() * sponsors.length);
            var sponsorDiv = document.getElementById('spon'),
                sponLink = sponsorDiv.getElementsByTagName('a')[0],
                sponImg = sponsorDiv.getElementsByTagName('img')[0],
                sponSpan = sponsorDiv.getElementsByTagName('span')[0];
            sponLink.href = sponsors[randIndex].link;
            sponSpan.innerHTML = sponImg.alt = sponLink.title = sponsors[randIndex].text;
            sponImg.src = sponsors[randIndex].img;
        })();
    </script>
</div>
