   body {
      background: #fff url('https://static.tumblr.com/ngnm44u/QkFllq9ow/sketch.gif') no-repeat 1300px 10px fixed;
      color: #404040;
      font: normal 1em/1.5em Roboto, Trebuchet MS, Arial, sans-serif;
      font-weight:300;
      letter-spacing:1px;
        margin: 1.5em;
      padding: 0;
      text-align: center; /* for ie5.5/win */
    }
    
    a, a:active, a:visited {
      color: #f55;
      /*font-weight: bold;*/
      text-decoration: none;
-webkit-transition:color 0.3s;
    }
    
    a:hover {
      text-decoration: underline;
    }

a:active { position:relative; top:1px; }
    
    blockquote, ol, p, ul {
      margin: 1.5em 0;
      padding: 0;
    }
a:visited {
	
}
    article, footer, header, section { display:block; }
    ol, ul {
      margin-left: 2em;
      margin-right: 2em;
    }
    
    blockquote {
      border-left: 3px solid #ccc;
	  /*background:#fee;*/
	  color:#777;
      margin-left: 1em;
      padding: 0 1em;
    }
    
    blockquote cite { font-style:italic; }
   
    .post .quote blockquote { border:0; background:transparent; font-style:normal; margin:1em 0; }
    .post .quote blockquote big { color: #404040; font-size:450%; float:left; margin-top:-44px; }
	.post .quote blockquote p {  color:#222; margin-left:60px;  font-size:140%; line-height:1.3; }
    
    h1, h2, h3, h4, h5, h6 {
      color: #222;
      font-family: Arvo, Georgia, Times New Roman, Times, serif;
      letter-spacing:0;
      margin: 0 0 1.5em;
      padding: 0;
    }
    
    h1 {
      font-size: 3em;
      font-family: Georgia, Times, serif;
      line-height: 1;
      margin-bottom: .5em;
    }
    
    h1 a, h1 a:visited, h1 a:active {
      color: #222;
    }
    
    h1 a:hover {
      color: #f55;
      text-decoration: none;
    }
    
    h2 {
      font-size: 1.5em;
      font-weight:500;
    }
    
    h3 {
      font-size: 1em;
      font-family:Roboto, Verdana, sans-serif; 
      font-weight:400; 
      text-transform:uppercase; 
      margin:3.5em 0 1em; 
      letter-spacing:0.2em;
    }

    h4 {
      color: #777;
      font-size: 0.9em;
      font-family:Roboto, Verdana, sans-serif; 
      font-weight:400; 
      text-transform:uppercase; 
      margin:2.5em 0 1em; 
      letter-spacing:0.2em;
    }
    
    .description {
        color: #999;
    }
    
    
    /* Content container */
    #content {
     
      text-align: left;
        width: 100%;
      max-width: 1200px;
    }
    
    
    /* Metadata */
    #meta {
      list-style: none;
      margin: 0.75em 0 0;
      padding: 0;
      text-align: right;
    }
    
    #meta li {
      display:inline;
      margin-right:1em;
    }


		/* Search */
		#search { margin: 0 0 0.75em; text-align: right; }
		

		/* Search Result Count */
		#searchresultcount { margin: 1.5em 0; text-align: center; }
    
    
    #posts {
        float:left;
        width: 70%;
    }
    
    .post img {
        max-width:100%;
    }
    
    #sidebar {
        border-top:1px solid #999;
        float:right;
        width:26%;
        padding-top:2em;
    }
    
    #spon { clear:both; background:#ffecec; border:1px solid #ffcece; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:2em 0; padding:15px; }
        #spon-desc { font-size:10pt; line-height:1.2; text-align:center; display:block; margin-top:7px; }
        #spon img {
            display:block;
            margin:0 auto;
            max-height: 10em;
            max-width: 100%;
        }
    
    #search input { display:block; width:100%; }

#rss {  padding:1em 0; margin:1.5em 0; background:#ffe; text-align:center; }
#rss p { margin:0; }
    
    #twitter_div { border-top:1px solid #999; margin-top:2em; padding-top:1em; }
#twitter_update_list { list-style:none; margin:0; overflow:hidden; padding:0; }
    
    /* Individual Posts */
    .post {
      border-top: 1px solid #999;
      padding: 2em 0 1em;
    }

.post.article { border-top:2px solid #000; }
    .post.article small { display:block; line-height:1.3; margin-top:-3px; padding:0 10px; color:#888; }
    .post .date {
      /*border-top: 3px solid #ccc;*/
      
      float: left;
      padding: .25em 1em;
      text-align: center;
    }
    
    .post .date .month, .post .date .day, .post .date .time, .post .date .year {
      color: #999;
      display: block;
      font-weight: normal;
    }
    
    .post .date .month {
      letter-spacing: .05em;
      text-transform: uppercase;
    }
    
    .post .date .day {
      font-size: 1.3em;
      font-weight: bold;
    }

    .post .date a, .post .date a:visited, .post .date a:active {
      font-weight: normal;
    }
    
    .post .regular, .post .quote, .post .link, .post .conversation,
    .post .photo, .post .video, .post .audio {
      margin-left: 7em;
      padding: 0;
    }
    
    .post .photo .caption, .post .video .caption,
    .post .quote .source, .post .audio .caption {
      display: block;
      margin-bottom: 1.5em;
    }

.post img { -webkit-box-shadow: #999 0px 0px 5px; -moz-box-shadow: #999 0px 0px 5px; box-shadow: #999 0px 0px 5px; }
    
    .post .quote .source {
      font-style: italic;
      text-align: right;
    }
    
    .post .conversation ul {
      background: #eee;
      list-style: none;
      margin: 0 0 1.5em;
      padding: 1em;
    }
    
    .post .conversation ul li {
      padding: .2em 0;
    }
    
    .post .conversation ul li .person {
      font-weight: bold;
      margin-right: 1em;
    }
    
    .post .post-footer {
      color: #999;
      margin-left: 7em;
      
      letter-spacing:0;
      text-align: right;
    }
    
    .post .post-footer .when {
      font-size: .75em;
      font-weight: normal;
      margin-left: 1em;
    }
    
    .post p code, .post li > code {
        background:#f4f4f4;
        border:1px dashed #ccc;
        padding:1px 5px;
    }
    
    .post pre {
        border-style:solid;
        border-color:#ddd;
        border-width:1px 1px 1px 7px;
        overflow:auto;
        max-height:400px;
        font-size:1em;
    	background:#ffe;
		color:#000;
    }
    
    .post .tags, .post .attribution {
        padding-left:0;
        margin:0;
        float:left;
    }
    .post .tags li, .post .attribution li {
        float:left;
        list-style:none;
        font-size:0.75em;
        text-transform:lowercase;
        text-align: left;
        margin-right:0.75em;
    }
    
    .post .tags li a {
        color:#777;
    }
    
    
	
	.footnotes {
		margin-top:3em;
		font-size: 80%;
	}
	.footnotes ol { padding-left:2em; }
    
    .permalink {
        border-top: 1px solid #ccc;
        font-family: Georgia, Times New Roman, Times, serif;
        display:block;
        float:left;
        clear:left;
        font-size:1.5em;
        text-align:right;
        width:3em;
    }
    
    /* Previous and Next Links */
    #prev-next {
        clear:both;
      margin-left: 7em;
      padding: 1.5em 0 3em;
    }
    
    #prev {
      margin-left: 1.5em;
    }
    
    #next {
      margin-right: 1.5em;
    }
    
    #footer {
      border-top: 1px solid #999;
      font-size: .85em;
      clear:both;
    }
    
    #footer a, #footer a:active, #footer a:visited {
      color: #222;
    }
    
    #footer ul {
      list-style: none;
      margin: 1em 0;
      padding: 0;
      text-align: center;
    }
    
    #footer ul li {
      display: inline;
      margin: 0.5em;
    }

	.query { font-weight: bold; }
    
    .regular img {
        max-width: 100%;
    }
    
    #disqus_thread, ol.notes {
        width: 448px;
        margin: 30px 0 30px 112px;
    }
        
        ol.notes {
            list-style-type: none;
        }
        
    /* mobile! */
    @media (max-width: 900px) {
      body {
        font-size: 1.25em;
      }
      #meta {
        text-align: left;
      }
      #posts { float:none; width: 100%;}
      #sidebar { float:none; width: 100%; }
      .post {
        clear:both;
        padding: 1em 0 2em;
      }
      .post .date {
        float: none;
        padding: 0.25em 0 1em;
      }
      .post .date .month,
      .post .date .day,
      .post .date .year {
        display: inline;
      }
      .post .permalink {
        float: left;
        border: 0;
        border-right: 1px solid #aaa;
        margin-right: 0.25em;
        padding-right: 0.25em;
        width: auto;
      }
      .post .post-body {
        margin:0;
      }
      
      .post .post-footer {
        margin:0;
      }
      .post .post-footer .tags {
          width: 80%;
      }
    }
