---
layout: default
---

<div class="home archive">

    <ul class="post-list">
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        <li>
        {% if currentdate != date %}
            {% assign date = currentdate %}
            <span class="date new">{{ currentdate }}</span>
        {% else %}
            <span class="date">+</span>
        {% endif %}

            <h2 class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
    {% endfor %}
    </ul>

</div>
