---
layout: default
---
<article class="post article">
  <header>
    <div class="date">
        <span class="month">{{ page.date | date: "%b" }}</span>
        <span class="day">{{ page.date | date: "%d" }}</span>
        <span class="year">{{ page.date | date: "%Y" }}</span>
    </div>
    <a href="" title="Permalink" class="permalink">#</a>
  </header>

  <div class="regular">
    <h2 class="post-title">{{ page.title }}</h2>
    {{ content }}
  </div>

  <footer class="post-footer">
    <time pubdate="pubdate" datetime="{{ page.date }}" class="when">{{ page.date }}</time>
    <ul class="tags">
    {% for tag in page.tags %}
        <li>#{{ tag }}</li>
    {% endfor %}
    </ul>
  </footer>

</article>
